<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    .matrix {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  margin: 20px;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}

img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.btn-primary {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 5px;
  margin: 10px 0;
}
.btn-primary:hover{
  background-color: #0069d9;
}
  </style>
</head>
<body>
  
  <div style="text-align: center;"><h1>OUR DOCTORS</h1></div>
  <div class="matrix">
    <div class="card">
      <img src="static/blog/doctora.jpg" alt="Doctor 1">
      <h2>Dr. John Smith</h2>
      <p class="card-text">Qualification: MD, MBBS</p>
      <p>Specialty: Cardiology</p>
      <p>Years of Experience: 15</p>
      <a href="/come" class="btn btn-primary">Book an Appointment</a>
    </div>
    
    <div class="card">
      <img src="static/blog/doctor2.jpg" alt="Doctor 2">
      <h2>Dr. Jane Frost</h2>
      <p class="card-text">Qualification: MD, MBBS</p>
      <p>Specialty: Pediatrics</p>
      <p>Years of Experience: 10</p>
      <a href="/come2" class="btn btn-primary">Book an Appointment</a>
    </div>
    
    <div class="card">
      <img src="static/blog/doctor3.jpg" alt="Doctor 3">
      <h2>Dr. Mark Johnson</h2>
      <p class="card-text">Qualification: MD, MBBS</p>
      <p>Specialty: Dermatology</p>
      <p>Years of Experience: 20</p>
      <a href="/come5" class="btn btn-primary">Book an Appointment</a>
    </div>
    
    <div class="card">
      <img src="static/blog/doctor4.jpg" alt="Doctor 4">
      <h2>Dr. Caitlin Snow</h2>
      <p class="card-text">Qualification: MD, MBBS</p>
      <p>Specialty: Gastroenterology</p>
      <p>Years of Experience: 8</p>
      <a href="/come3" class="btn btn-primary">Book an Appointment</a>
    </div>
  </div>
  <div class="matrix">
    <div class="card">
      <img src="static/blog/doctor5.jpg" alt="Doctor 1">
      <h2>Dr. John Wick</h2>
      <p class="card-text">Qualification: MD, MBBS</p>
      <p>Specialty: Psychology</p>
      <p>Years of Experience: 15</p>
      <a href="/come4" class="btn btn-primary">Book an Appointment</a>
    </div>
    
    <div class="card">
      <img src="static/blog/doctor6.jpg" alt="Doctor 2">
      <h2>Dr. Patrick Cooper</h2>
      <p class="card-text">Qualification: MD, MBBS</p>
      <p>Specialty: Pediatrics</p>
      <p>Years of Experience: 10</p>
      <a href="/come2" class="btn btn-primary">Book an Appointment</a>
    </div>
    
    <div class="card">
      <img src="static/blog/doctor7.jpg" alt="Doctor 3">
      <h2>Dr. Neil Melendez</h2>
      <p class="card-text">Qualification: MD, MBBS</p>
      <p>Specialty: Cardiology</p>
      <p>Years of Experience: 20</p>
      <a href="/come" class="btn btn-primary">Book an Appointment</a>
    </div>
    
    <div class="card">
      <img src="static/blog/doctor8.jpg" alt="Doctor 4">
      <h2>Dr. Ravi Kumar</h2>
      <p class="card-text">Qualification: MD, MBBS</p>
      <p>Specialty: Dermatology</p>
      <p>Years of Experience: 8</p>
      <a href="/come5" class="btn btn-primary">Book an Appointment</a>
    </div>
  </div>
  <div class="matrix">
    <div class="card">
      <img src="static/blog/doctor9.jpg" alt="Doctor 1">
      <h2>Dr. Akhilesh Guptha</h2>
      <p class="card-text">Qualification: MD, MBBS</p>
      <p>Specialty: Pediatrics</p>
      <p>Years of Experience: 10</p>
      <a href="/come2" class="btn btn-primary">Book an Appointment</a>
    </div>
    
    <div class="card">
      <img src="static/blog/doctor10.jpg" alt="Doctor 2">
      <h2>Dr. Preethi Zintha</h2>
      <p class="card-text">Qualification: MD, MBBS</p>
      <p>Specialty: Psychology</p>
      <p>Years of Experience: 5</p>
      <a href="/come4" class="btn btn-primary">Book an Appointment</a>
    </div>
    
    <div class="card">
      <img src="static/blog/doctor11.jpg" alt="Doctor 3">
      <h2>Dr. Malavika Sharma</h2>
      <p class="card-text">Qualification: MD, MBBS</p>
      <p>Specialty: Gastroenterology</p>
      <p>Years of Experience: 6</p>
      <a href="/come3" class="btn btn-primary">Book an Appointment</a>
    </div>
    
    <div class="card">
      <img src="static/blog/doctor12.jpg" alt="Doctor 4">
      <h2>Dr. Rahul Panth</h2>
      <p class="card-text">Qualification: MD, MBBS</p>
      <p>Specialty: Cardiology</p>
      <p>Years of Experience: 6</p>
      <a href="/come" class="btn btn-primary">Book an Appointment</a>
    </div>
  </div>
</body>
</html>