{% extends 'base.html' %}

{% block title %}
HOME  
{% endblock title %}

{% block body %}
{% load static %}
<div class="container-fluid px-0">
    <div class="bd-example">

             
              <div class="carousel-caption d-none d-md-block">
                <h2>Welcome to CareEasePlus</h2>
                <p>Experience personalized care and wellness solutions at CareEasePlus</p>
              </div>
            </div>
            
          </div>






  </div>
</div>




{% endblock body %}
